<h2>Returned Books</h2>
<hr>
@if (message) {
<div class="alert" [class.alert-danger]="level === 'error'" [class.alert-success]="level === 'success'" role="alert">
    {{ message }}
</div>
}
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">ISBN</th>
                <th scope="col">Rate</th>
                <th scope="col"><i class="fas fa-cogs"></i></th>
            </tr>
        </thead>
        <tbody>

            @for (book of returnedBooks.content; track book.id) {
            <tr>
                <th scope="row">{{ $index + 1 }}</th>
                <td>{{ book.title }}</td>
                <td>{{ book.authorName }}</td>
                <td>{{ book.isbn }}</td>
                <td><i class="fas fa-star text-warning"></i>{{ book.rate }}</td>
                <td>
                    <div class="d-flex gap-2">
                        @if (book.returned) {
                        <i class="fa-regular fa-paper-plane text-primary"></i>
                        } @else {
                        <i (click)="returnBorrowedBook(book)" class="fa-solid fa-paper-plane text-success"></i>
                        }
                        <i (click)="approveBookReturn(book)" class="fa-solid fa-circle-check cursor-pointer"
                            [class.text-success]="book.returnApproved"></i>

                    </div>
                </td>
            </tr>
            }

        </tbody>
    </table>
    <div class="d-flex justify-content-center mt-3">
        <nav aria-label="Page navigation">
            <ul class="pagination">

                <li class="page-item" [class.disabled]="page === 0">
                    <a class="page-link" href="javascript:void(0)" (click)="goToFirstPage()" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span> First
                    </a>
                </li>

                <li class="page-item" [class.disabled]="page === 0">
                    <a class="page-link" href="javascript:void(0)" (click)="goToPreviousPage()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span> Previous
                    </a>
                </li>

                @for (pIndex of pageNumbers; track pIndex) {
                <li class="page-item" [class.active]="page === pIndex">
                    <a class="page-link" href="javascript:void(0)" (click)="goToPage(pIndex)">
                        {{ pIndex + 1 }}
                    </a>
                </li>
                }

                <li class="page-item" [class.disabled]="isLastPage">
                    <a class="page-link" href="javascript:void(0)" (click)="goToNextPage()" aria-label="Next">
                        Next <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

                <li class="page-item" [class.disabled]="isLastPage">
                    <a class="page-link" href="javascript:void(0)" (click)="goToLastPage()" aria-label="Last">
                        Last <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</div>