.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.activate-message,
.activate-error {
    text-align: center;
}

.activate-error {
    color: red;
}