# ========================
# Operating System Files
# ========================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ========================
# Log Files
# ========================
*.log
logs/

# ========================
# Environment Files
# ========================
.env
.env.*

# ========================
# Maven and Build Targets
# ========================
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ========================
# Java Classes and Packages
# ========================
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# ========================
# IDE Files
# ========================

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/