<div class="card h-100 d-flex flex-column" style="width: 20rem;">
    <img [src]="bookCover()" class="card-img-top" alt="Book Cover" height="200">

    <div class="card-body d-flex flex-column">
        <h5 class="card-title fs-6 text-scroll fw-bold mb-1">
            <i class="fa-solid fa-book"></i> &nbsp;{{ bookItem().title }}
        </h5>
        <h5 class="card-subtitle fs-6 text-secondary fw-bold mb-1">
            <i class="fa-solid fa-user"></i> &nbsp;{{ bookItem().authorName }}
        </h5>
        <h6 class="card-title fs-6 text-scroll fw-bold mb-1">
            <i class="fa-solid fa-barcode"></i> &nbsp;{{ bookItem().isbn }}
        </h6>
        <h6 class="card-title fs-6 text-scroll fw-bold mb-1">
            <i class="fa-solid fa-barcode"></i> &nbsp;{{ bookItem().owner }}
        </h6>
        <hr>
        <p class="card-text flex-grow-1">{{ bookItem().synopsis }}</p>
    </div>

    <div class="card-footer d-flex justify-content-between align-items-center gap-2 mt-auto">
        @if (!_manage()) {
        <div class="d-flex align-items-center gap-2">
            <i class="fas fa-star text-warning"></i> {{ bookItem().rate }}
        </div>
        }

        <div class="d-flex gap-2">
            <i (click)="onShowDetails()" class="fas fa-circle-info text-primary cursor-pointer"></i>
            <i (click)="onBorrowBook()" class="fas fa-list-check text-primary cursor-pointer"></i>
            <i (click)="onAddToWaitingList()" class="fas fa-heart text-danger cursor-pointer"></i>
        </div>

        @if (_manage()) {
        <div class="d-flex gap-2">
            <i (click)="onEditBook()" class="fas fa-edit text-success cursor-pointer"></i>
            <i (click)="onShareBook()" class="fas fa-share-nodes text-primary cursor-pointer"></i>
            <i (click)="onArchiveBook()" class="fas fa-archive text-danger cursor-pointer"></i>
        </div>
        }
    </div>
</div>