i {
    cursor: pointer;
}

div {
    &.card {
        max-width: 400px;
        min-height: 300px;
        object-fit: cover
    }
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}